# General
# ------------------------------------------------------------------------------
export PROJECT_NAME="dbm"
export DEBUG="1"
# export API_APP="app.main:app"
# export PORT="9000"
# export DEBUG_PORT="5678"
export DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:50432/postgres"
# export TEST_DATABASE_URL="postgresql+asyncpg://postgres:postgres@postgres:5432/postgres"
# export CORS_ORIGINS="http://127.0.0.1,http://127.0.0.1:3000,http://localhost,http://localhost:3000,http://web,http://web:3000"

# export SECRET_KEY="123"

export API_CLIENT_KEY="dbm"
export API_CLIENT_SECRET="dbm"


# Terminal
# ------------------------------------------------------------------------------
# setting both $COLUMNS and $LINES fixes a terminal size issue, if not set
# fastapi app logging (rich) gets limited to 80 columns or so making the output
# look ugly. Customize these variables according to your current terminal
# configuration
export COLUMNS=160
export LINES=40
